*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text{
    margin-left: 900px;
}
.preject{
    background: linear-gradient(to right, rgb(55, 55, 216), rgb(228, 41, 41));
    min-height: 100vh;
}
.text2{
    color: white;
}
.card{
    background-color: rgba(255, 255, 255, 0.178);
}
.cards{
    padding: 30px;
    margin-top: 80px;
    border: none;
}
.divs{
    margin-top: 130px;
}
.sliding{
    padding-top: 120px;
}
#imeg1{
    border: 5px solid #6a11cb;
    border-radius: 5px;
}
#imeg2{
    border: 5px solid #6a11cb;
    border-radius: 5px;
}
#imeg3{
    border: 5px solid #6a11cb;
    border-radius: 5px;
}

.item1{
    width: 100%;
    height: 20%;
    border: #343a40 solid 5 5px;
}
.item2{
    width: 100%;
    height: 20%;
    border: #343a40 solid 5 5px;
}
.item3{
    width: 100%;
    height: 20%;
    border: #343a40 solid 5 5px;
}
footer{
    background-color: #1860dd;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}